---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Age Calculator App">
	<main class="bg-gray-200 min-h-screen flex items-center">
		<div class="bg-white mx-auto my-auto px-5 py-20 max-md:mx-2 w-full md:w-7/12 rounded-l-md rounded-t-md rounded-br-[200px] h-3/5 flex flex-col gap-5">
			<form class="flex-col gap-5" method="POST">
				<div class="flex max-md:flex-col gap-5">
					<div class="flex flex-col">
						<label class="text-gray-700 font-semibold tracking-widest" for="day">DAY</label>
						<input id="day" name="day" type="number" required max="31" class="border-gray-700 border-solid border-2 p-2 w-80 md:w-44 rounded-md font-bold text-2xl" />
					</div>
					<div class="flex flex-col">
						<label class="text-gray-700 font-semibold tracking-widest" for="month">MONTH</label>
						<input id="month" name="month" type="number" required max="12" class="border-gray-700 border-solid border-2 p-2 w-80 md:w-44 rounded-md font-bold text-2xl" />
					</div>
					<div class="flex flex-col">
						<label class="text-gray-700 font-semibold tracking-widest" for="year">YEAR</label>
						<input id="year" name="year" type="number" required min="1900" max={new Date().getFullYear()} class="border-gray-700 border-solid border-2 p-2 w-80 md:w-44 rounded-md font-bold text-2xl" />
					</div>
				</div>
				<div class="flex my-5 items-center">
					<hr class="w-full text-gray-700" />
					<button type="submit" >
						<img src="/icon-arrow.svg" class="bg-purple-500 p-5 rounded-full" alt="Send" />
					</button>
				</div>
			</form>
			<div class="flex flex-col">
				<p class="text-black font-black text-6xl md:text-9xl"><span id="years" class="text-purple-500 italic mr-3">--</span> years</p>
				<p class="text-black font-black text-6xl md:text-9xl"><span id="months"  class="text-purple-500 italic mr-3">--</span> months</p>
				<p class="text-black font-black text-6xl md:text-9xl"><span id="days" class="text-purple-500 italic mr-3">--</span> days</p>
			</div>
		</div>
	</main>
</Layout>
<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('form');
  const yearsSpan = document.getElementById('years');
  const monthsSpan = document.getElementById('months');
  const daysSpan = document.getElementById('days');
  form?.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
	console.log(formData)
    const { data } = await actions.agecalculator(formData);
	if (data?.error) alert(data.error)
	if (data && data.years !== undefined) {
      if (yearsSpan) yearsSpan.textContent = data.years.toString();
      if (monthsSpan) monthsSpan.textContent = data.months.toString();
      if (daysSpan) daysSpan.textContent = data.days.toString();
    } else {
		
      console.error("Dados inválidos");
    }
  })
</script>